

body{
    background: darkgrey;
}

.header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.logo{
    width: 250px;
}

.logo_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: aliceblue;
    font-style: italic;
    

}

.bi-cup-hot{
    color: aliceblue;
}

.menu{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_url{
    font-family: 'Pacifico', serif;
    text-decoration: none;
    color: aliceblue;
    
}

.banner{
    background: url(image/5310800.jpg)  ;
    height: 150vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
}

.bn_txt{
    width: 30%;
    height: 350px;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    position: absolute;
    right: 50px;
    top: 100px;
}

.author{
    color: darkslateblue;
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    
}

.foot{
    height: 200px;
    background-color: black;

}

.menu_foot{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

hr{
    color: aliceblue;
    margin-left: 30px;
    margin-right: 30px;
}

.bi{
    color: aliceblue;
}

.bi:hover{
    transform: scale(1.5);
    color: crimson;
}

.eff:hover{
    transform: rotateZ(20deg);
}

/* .catalog_menu{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    display: flex;
    background-color: rgb(244, 241, 237);
    top: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    
} */

.tabs {
	display: flex;
	flex-wrap: wrap; 
}

.tab{
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
}

.tabs label {
	order: 1; 
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    transition: background ease 0.2s;
    
}

.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
	display: flex;
    flex-wrap: wrap;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}


/* body {
  background: #eee;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
} */

.card{
    width: 20vh;
    margin-top: 40px;
}